/* Dark Scheme */
:root {
    --foreground-dark: #fafafa;
    --foreground-hover-dark: #e6e6e6;
    --foreground-active-dark: #cdcdcd;

    --background-dark: #09090b;
    --background-hover-dark: #2a2a2e;
    --background-active-dark: #37373b;
    
    --accent-dark: #09090b;
    
    --text-foreground-dark: #fafafa;
    --text-background-dark: #09090b;

    --disabled-foreground-dark: #969696a5;
    --disabled-foreground-hover-dark: #d2d2d22a;
    --disabled-foreground-text-dark: #5f5f5f;
    --disabled-background-dark: #7070709c;

    /* Colorway styles */
    /* Danger */
    --danger-foreground-dark: #d83338;
    --danger-foreground-border-dark: #d83338;
    --danger-foreground-hover-dark: #ee2323;
    --danger-foreground-active-dark: #c20000;
    --danger-foreground-text-dark: #09090b;

    --danger-background-dark: #4c000349;
    --danger-background-border-dark: #971e1e;
    --danger-background-hover-dark: #2a0101;
    --danger-background-active-dark: #4f0000;
    --danger-background-text-dark: #ff0000;

    /* Foreground */
    --warning-foreground-dark: #ffac07;
    --warning-foreground-border-dark: #d39e00;
    --warning-foreground-hover-dark: #db8904;
    --warning-foreground-active-dark: #f7a400;
    --warning-foreground-text-dark: #09090b;

    --warning-background-dark: #3528007d;
    --warning-background-border-dark: #ffeeba;
    --warning-background-hover-dark: #3f3000;
    --warning-background-active-dark: #513d00;
    --warning-background-text-dark: #ffbf00;

    /* Success */
    --success-foreground-dark: #28a745;
    --success-foreground-border-dark: #1e7e34;
    --success-foreground-hover-dark: #34ce57;
    --success-foreground-active-dark: #218838;
    --success-foreground-text-dark: #09090b;

    --success-background-dark: #051b0d;
    --success-background-border-dark: #1e7e34;
    --success-background-hover-dark: #0a2e16;
    --success-background-active-dark: #0f3c1f;
    --success-background-text-dark: #28a745;
}

/* Light Scheme */
:root {
    --foreground-light: #09090b;
    --foreground-hover-light: #242427;
    --foreground-active-light: #2c2c2f;

    --background-light: #fafafa;
    --background-hover-light: #e9e9e9;
    --background-active-light: #d8d8d8;

    --accent-light: #fafafa;
    
    --text-foreground-light: #09090b;
    --text-background-light: #fafafa;

    --disabled-foreground-light: #747474;
    --disabled-foreground-hover-light: #dadada;
    --disabled-foreground-text-light: #9d9d9d;
    --disabled-background-light: #b5b5b5;

    /* Colorway styles */
    /* Danger */
    --danger-foreground-light: #d83338;
    --danger-foreground-border-light: #971e1e;
    --danger-foreground-hover-light: #ff0000;
    --danger-foreground-active-light: #c20000;
    --danger-foreground-text-light: #fafafa;

    --danger-background-light: #ffd7d9;
    --danger-background-border-light: #b7000626;
    --danger-background-hover-light: #fa606066;
    --danger-background-active-light: #ff1e1e5a;
    --danger-background-text-light: #ff0000;

    --warning-foreground-light: #ffa500;
    --warning-foreground-border-light: #cc8b00;
    --warning-foreground-hover-light: #ffb733;
    --warning-foreground-active-light: #e69500;
    --warning-foreground-text-light: #ffffff;

    --warning-background-light: #ffecd0;
    --warning-background-border-light: #ffe0b1;
    --warning-background-hover-light: #ffdfaf;
    --warning-background-active-light: #ffd699;
    --warning-background-text-light: #de9103;

    --success-foreground-light: #28a745;
    --success-foreground-border-light: #218838;
    --success-foreground-hover-light: #34ce57;
    --success-foreground-active-light: #1e7e34;
    --success-foreground-text-light: #ffffff;
    
    --success-background-light: #def5e5;
    --success-background-border-light: #c3e6cb;
    --success-background-hover-light: #d4edda;
    --success-background-active-light: #c3e6cb;
    --success-background-text-light: #28a745;
}
/* Common */
:root {
    --font-family-main: 'Arial';
    
    --border-radius-4: 4px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-full: 50%;

    --font-size-small: clamp(0.75rem, 1.5vw, 1rem);

    --padding-2: 0.125rem;
    --padding-4: 0.25rem;
    --padding-6: 0.375rem;
    --padding-8: 0.5rem;
    --padding-12: 0.75rem;
    --padding-16: 1rem;
}

body {
    font-family: var(--font-family-main, sans-serif);
    color: var(--text-foreground);
    background-color: var(--background);
}

svg {
    fill: currentColor;
}