/* Dark Scheme */
:root {
    --foreground-dark: #fafafa;
    --foreground-hover-dark: #e6e6e6;
    --foreground-active-dark: #c6c6c6;

    --background-dark: #09090b;
    --background-hover-dark: #2a2a2e;
    --background-active-dark: #37373b;
    
    --accent-dark: #09090b;
    
    --text-foreground-dark: #fafafa;
    --text-background-dark: #09090b;

    /* Colorway styles */
    --danger-foreground-dark: #d83338;
    --danger-border-foreground-dark: #971e1e;
    --danger-hover-foreground-dark: #ff0000;
    --danger-active-foreground-dark: #c20000;
    --danger-text-foreground-dark: #09090b;
    --danger-background-dark: #210203;
    --danger-border-background-dark: #971e1e;
    --danger-hover-background-dark: #3b0202;
    --danger-active-background-dark: #4f0000;
    --danger-text-background-dark: #ff0000;

    --warning-foreground-dark: #ffac07;
    --warning-border-foreground-dark: #d39e00;
    --warning-hover-foreground-dark: #e0a800;
    --warning-active-foreground-dark: #d39e00;
    --warning-background-dark: #261d00;
    --warning-border-background-dark: #ffeeba;
    --warning-hover-background-dark: #3f3000;
    --warning-active-background-dark: #513d00;
    --warning-text-background-dark: #ffbf00;

    --success-foreground-dark: #28a745;
    --success-border-foreground-dark: #1e7e34;
    --success-hover-foreground-dark: #34ce57;
    --success-active-foreground-dark: #218838;
    --success-text-foreground-dark: #09090b;
    --success-background-dark: #051b0d;
    --success-border-background-dark: #1e7e34;
    --success-hover-background-dark: #0a2e16;
    --success-active-background-dark: #0f3c1f;
    --success-text-background-dark: #28a745;
}

/* Light Scheme */
:root {
    --foreground-light: #09090b;
    --foreground-hover-light: #242428;
    --foreground-active-light: #343437;

    --background-light: #fafafa;
    --background-hover-light: #e9e9eb;
    --background-active-light: #e5e5e7;

    --accent-light: #fafafa;
    
    --text-foreground-light: #09090b;
    --text-background-light: #fafafa;
}

/* Common */
:root {
    --font-family-main: 'Arial';
    
    --border-radius-4: 4px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-full: 50%;

    --font-size-small: clamp(0.75rem, 1.5vw, 1rem);

    --padding-4: 0.25rem;
    --padding-8: 0.5rem;
    --padding-16: 1rem;
}

body {
    font-family: var(--font-family-main, sans-serif);
    color: var(--text-foreground);
    background-color: var(--background);
}

svg {
    fill: currentColor;
}