/* Dark Scheme */
:root {
    --foreground-dark: #fafafa;
    --foreground-hover-dark: #e6e6e6;
    --foreground-active-dark: #c6c6c6;

    --background-dark: #09090b;
    --background-hover-dark: #2a2a2e;
    --background-active-dark: #37373b;
    
    --accent-dark: #09090b;
    
    --text-foreground-dark: #fafafa;
    --text-background-dark: #09090b;

    --danger-dark: #d83338;
    --danger-hover-dark: #ff0000;
    --danger-active-dark: #ff0000;
    --danger-border-dark: #ff0000;
}

/* Light Scheme */
:root {
    --foreground-light: #09090b;
    --foreground-hover-light: #242428;
    --foreground-active-light: #343437;

    --background-light: #fafafa;
    --background-hover-light: #e9e9eb;
    --background-active-light: #e5e5e7;

    --accent-light: #fafafa;
    
    --text-foreground-light: #09090b;
    --text-background-light: #fafafa;
}

/* Common */
:root {
    --font-family-main: 'Arial';
    
    --border-radius-4: 4px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-full: 50%;

    --font-size-small: clamp(0.75rem, 1.5vw, 1rem);

    --padding-4: 0.25rem;
    --padding-8: 0.5rem;
    --padding-16: 1rem;
}

body {
    font-family: var(--font-family-main, sans-serif);
    color: var(--text-foreground);
    background-color: var(--background);
}

svg {
    fill: currentColor;
}