/* Dark Scheme */
:root {
    --foreground-dark: #fafafa;
    --foreground-hover-dark: #d9d9d9;
    --foreground-active-dark: #bfbfbf;

    --background-dark: #09090b;
    --background-hover-dark: #202025;
    --background-active-dark: #2e2e31;
    
    --accent-dark: #09090b;
    
    --text-foreground-dark: #fafafa;
    --text-background-dark: #09090b;
}

/* Light Scheme */
:root {
    --foreground-light: #09090b;
    --foreground-hover-light: #202025;
    --foreground-active-light: #2d2d30;

    --background-light: #fafafa;
    --background-hover-light: #f0f0f5;
    --background-active-light: #dfdfe7;

    --accent-light: #fafafa;
    
    --text-foreground-light: #09090b;
    --text-background-light: #fafafa;
}

/* Common */
:root {
    --font-family-main: 'Times New Roman';
    
    --border-radius-4: 4px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-full: 50%;

    --font-size-small: clamp(0.75rem, 1.5vw, 1rem);

    --padding-4: 0.25rem;
    --padding-8: 0.5rem;
    --padding-16: 1rem;
}

body {
    font-family: var(--font-family-main, sans-serif);
    color: var(--text-foreground);
    background-color: var(--background);
}

svg {
    fill: currentColor;
}