/* Color Properties/Variables */
:root {
    --red-100: #ad000039;
    --red-200: #d100004b;
    --red-300: #d7000065;
    --red-400: #c41d1d;
    --red-500: #e42e34;

    --orange-100: #ee7d0340;
    --orange-200: #ff80004a;
    --orange-300: #f17f0c5f;
    --orange-400: #de7a00;
    --orange-500: #f98314;

    --green-100: #34ce5733;
    --green-200: #34ce574d;
    --green-300: #34ce5765;
    --green-400: #1fb743;
    --green-500: #34ce57;
}

/* Dark Scheme */
:root {
    --foreground-dark: #fafafa;
    --foreground-hover-dark: #e6e6e6;
    --foreground-active-dark: #cdcdcd;

    --background-dark: #09090b;
    --background-hover-dark: #2a2a2e;
    --background-active-dark: #37373b;
    
    --text-foreground-dark: #fafafa;
    --text-background-dark: #09090b;

    --disabled-foreground-dark: #969696a5;
    --disabled-foreground-hover-dark: #d2d2d22a;
    --disabled-foreground-text-dark: #5f5f5f;
    --disabled-background-dark: #7070709c;
}

/* Light Scheme */
:root {
    --foreground-light: #09090b;
    --foreground-hover-light: #242427;
    --foreground-active-light: #2c2c2f;

    --background-light: #fafafa;
    --background-hover-light: #e9e9e9;
    --background-active-light: #d8d8d8;

    --text-foreground-light: #09090b;
    --text-background-light: #fafafa;

    --disabled-foreground-light: #747474;
    --disabled-foreground-hover-light: #dadada;
    --disabled-foreground-text-light: #9d9d9d;
    --disabled-background-light: #b5b5b5;
}

/* Common */
:root {
    --font-family-main: 'Arial', sans-serif;
    
    --border-radius-4: 4px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-full: 50%;

    --button-border-width: 1px;

    --font-size-tiny: 0.75rem;
    --font-size-small: 0.9rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.15rem;

    --padding-2: 0.125rem;
    --padding-4: 0.25rem;
    --padding-5: 0.3125rem;
    --padding-6: 0.375rem;
    --padding-8: 0.5rem;
    --padding-12: 0.75rem;
    --padding-16: 1rem;
}

body {
    font-family: var(--font-family-main, sans-serif);
    color: var(--text-foreground);
    background-color: var(--background);
}

svg {
    fill: currentColor;
}