:root {
    --color-foreground: var(--color-foreground-light);
    --color-background: var(--color-background-light);

    --color-text-foreground: var(--color-text-foreground-light);
    --color-text-background: var(--color-text-background-light);

    --font-family-main: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-color-scheme]) {
        --color-foreground: var(--color-foreground-dark);
        --color-background: var(--color-background-dark);

        --color-text-foreground: var(--color-text-foreground-dark);
        --color-text-background: var(--color-text-background-dark);
    }
}

:root[data-color-scheme="dark"] {
    --color-foreground: var(--color-foreground-dark);
    --color-background: var(--color-background-dark);

    --color-text-foreground: var(--color-text-foreground-dark);
    --color-text-background: var(--color-text-background-dark);
}

:root[data-color-scheme="light"] {
    --color-foreground: var(--color-foreground-light);
    --color-background: var(--color-background-light);

    --color-text-foreground: var(--color-text-foreground-light);
    --color-text-background: var(--color-text-background-light);
}

body {
    font-family: var(--font-family-main, sans-serif);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text-foreground);
    background-color: var(--color-background);
}

button {
    color: var(--color-text-foreground);
}

svg {
    fill: currentColor;
}