:root {
    --foreground: var(--foreground-light);
    --foreground-hover: var(--foreground-hover-light);
    --foreground-active: var(--foreground-active-light);

    --background: var(--background-light);
    --background-hover: var(--background-hover-light);
    --background-active: var(--background-active-light);

    --text-foreground: var(--text-foreground-light);
    --text-background: var(--text-background-light);

    --accent: var(--accent-light);

    --danger-foreground: var(--danger-foreground-light);
    --danger-foreground-border: var(--danger-foreground-border-light);
    --danger-foreground-hover: var(--danger-foreground-hover-light);
    --danger-foreground-active: var(--danger-foreground-active-light);

    --danger-background: var(--danger-background-light);
    --danger-background-border: var(--danger-background-border-light);
    --danger-background-hover: var(--danger-background-hover-light);
    --danger-background-active: var(--danger-background-active-light);
    --danger-background-text: var(--danger-background-text-light);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-color-scheme]) {
        --foreground: var(--foreground-dark);
        --foreground-hover: var(--foreground-hover-dark);
        --foreground-active: var(--foreground-active-dark);

        --background: var(--background-dark);
        --background-hover: var(--background-hover-dark);
        --background-active: var(--background-active-dark);

        --text-foreground: var(--text-foreground-dark);
        --text-background: var(--text-background-dark);

        --accent: var(--accent-dark);

        --danger-foreground: var(--danger-foreground-dark);
        --danger-foreground-border: var(--danger-foreground-border-dark);
        --danger-foreground-hover: var(--danger-foreground-hover-dark);
        --danger-foreground-active: var(--danger-foreground-active-dark);

        --danger-background: var(--danger-background-dark);
        --danger-background-border: var(--danger-background-border-dark);
        --danger-background-hover: var(--danger-background-hover-dark);
        --danger-background-active: var(--danger-background-active-dark);
        --danger-background-text: var(--danger-background-text-dark);
    }
}

:root[data-color-scheme="dark"] {
    --foreground: var(--foreground-dark);
    --foreground-hover: var(--foreground-hover-dark);
    --foreground-active: var(--foreground-active-dark);

    --background: var(--background-dark);
    --background-hover: var(--background-hover-dark);
    --background-active: var(--background-active-dark);

    --text-foreground: var(--text-foreground-dark);
    --text-background: var(--text-background-dark);

    --accent: var(--accent-dark);

    --danger-foreground: var(--danger-foreground-dark);
    --danger-foreground-border: var(--danger-foreground-border-dark);
    --danger-foreground-hover: var(--danger-foreground-hover-dark);
    --danger-foreground-active: var(--danger-foreground-active-dark);

    --danger-background: var(--danger-background-dark);
    --danger-background-border: var(--danger-background-border-dark);
    --danger-background-hover: var(--danger-background-hover-dark);
    --danger-background-active: var(--danger-background-active-dark);
    --danger-background-text: var(--danger-background-text-dark);
}

:root[data-color-scheme="light"] {
    --foreground: var(--foreground-light);
    --foreground-hover: var(--foreground-hover-light);
    --foreground-active: var(--foreground-active-light);

    --background: var(--background-light);
    --background-hover: var(--background-hover-light);
    --background-active: var(--background-active-light);

    --text-foreground: var(--text-foreground-light);
    --text-background: var(--text-background-light);

    --accent: var(--accent-light);

    --danger-foreground: var(--danger-foreground-light);
    --danger-foreground-border: var(--danger-foreground-border-light);
    --danger-foreground-hover: var(--danger-foreground-hover-light);
    --danger-foreground-active: var(--danger-foreground-active-light);

    --danger-background: var(--danger-background-light);
    --danger-background-border: var(--danger-background-border-light);
    --danger-background-hover: var(--danger-background-hover-light);
    --danger-background-active: var(--danger-background-active-light);
    --danger-background-text: var(--danger-background-text-dark);
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}