:root {
    --foreground: var(--foreground-light);
    --foreground-hover: var(--foreground-hover-light);
    --background: var(--background-light);

    --text-foreground: var(--text-foreground-light);
    --text-background: var(--text-background-light);

    --accent: var(--accent-light);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-color-scheme]) {
        --foreground: var(--foreground-dark);
        --foreground-hover: var(--foreground-hover-dark);
        --background: var(--background-dark);

        --text-foreground: var(--text-foreground-dark);
        --text-background: var(--text-background-dark);

        --accent: var(--accent-dark);
    }
}

:root[data-color-scheme="dark"] {
    --foreground: var(--foreground-dark);
    --foreground-hover: var(--foreground-hover-dark);
    --background: var(--background-dark);

    --text-foreground: var(--text-foreground-dark);
    --text-background: var(--text-background-dark);

    --accent: var(--accent-dark);
}

:root[data-color-scheme="light"] {
    --foreground: var(--foreground-light);
    --foreground-hover: var(--foreground-hover-light);
    --background: var(--background-light);

    --text-foreground: var(--text-foreground-light);
    --text-background: var(--text-background-light);

    --accent: var(--accent-light);
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}